{% extends "admin/_base.html" %}
{% from "admin/_macros.html" import field %}
{% block title %}Change Password{% endblock %}
{% block heading %}Change Password{% endblock %}
{% block content %}
<div class="admin-card" style="max-width:480px;">
    <form method="POST">
        {{ form.csrf_token }}
        {{ field(form.current_password) }}
        {{ field(form.new_password) }}
        {{ field(form.confirm_password) }}
        <button type="submit" class="btn btn-save">Update Password</button>
    </form>
</div>
{% endblock %}
